[Unit]
Description=kibana
After=network.target

[Service]
User=kibana
LimitNOFILE=65536
ExecStart={{ kib_dir }}/bin/kibana
WorkingDirectory={{ kib_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
