[Unit]
Description=elasticsearch
After=network.target

[Service]
User=elasticsearch
LimitNOFILE=65536
ExecStart={{ es_dir }}/bin/elasticsearch
WorkingDirectory={{ es_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
