[Unit]
Description=nr_backup
After=network.target

[Service]
User=dml
ExecStart=/usr/bin/node {{ install_dir }}/nr_backup.js nr
WorkingDirectory={{ install_dir }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
